// color 
$color-light: rgb(255, 255, 255);
$color-dark: #191919;
$color-purple: #b21980;
$color-shadow: rgba(0, 0, 0, 0.3);
$color-pure: rgba(255, 255, 255, 0);
$color-bg-1: #dcd1f3;
// font size
$fs-1: 13px;
$fs-2: 1.1rem;
$fs-3: 3.8rem;
//font weight
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

//padding
$pd-y-1: 1.1em;


$pd-x-1: 1.5em;

// margin
$mg-1: 6px